<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13155304073-7pq0cj0026dmiga2qhnqfn1ts6r9eo92.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13155304073-7pq0cj0026dmiga2qhnqfn1ts6r9eo92</string>
	<key>API_KEY</key>
	<string>AIzaSyD7tN0nJ0iEP8-Tafxqz0m6Z9QTWJgyN_8</string>
	<key>GCM_SENDER_ID</key>
	<string>13155304073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.senior</string>
	<key>PROJECT_ID</key>
	<string>senior-chat-73113</string>
	<key>STORAGE_BUCKET</key>
	<string>senior-chat-73113.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13155304073:ios:570d271d1db60ad9b0fc58</string>
	<key>DATABASE_URL</key>
	<string>https://senior-chat-73113-default-rtdb.firebaseio.com</string>
</dict>
</plist>